body {
    margin: 0 auto;
    padding: 0;
    font-family: Inter, sans-serif;
    background: #1C1C1C;
}

.main {
    margin: 55px auto;
    padding: 0;
    height: 730px;
    width: 550px;
    background: #F4F4F4;
    border-radius: 5px;
}

/* TOP */
header {
    height: 285px;
    background: #6943FF;
    border-radius: 5px 5px 0 0;
    display: grid;
    text-align: center;
    align-content: center;
}

h1#title {
    margin: 0 auto 30px;
    font-size: 28px;
    font-weight: 800;
    color: #FFFFFF;
}

#input-el {
    margin: 0 auto 25px;
    height: 83px;
    min-width: 117px;
    max-width: 500px;
    width: fit-content;
    background: transparent;
    text-align: center;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font: 800 58px Inter, sans-serif;
    color: #FFFFFF;
    white-space: nowrap;
}

/* Convert button */
#convert-btn {
    margin: auto;
    height: 42px;
    width: 117px;
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    color: #3D3D3D;
    font: 500 16px Inter, sans-serif;
    cursor: pointer;
}

#convert-btn:hover {
    background-color: #B295FF;
    color: #FFFFFF;
    transition: 0.4s;
}

/* DarkMode Button */
#darkMode {
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    background: #353535;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

#darkMode.inverted {
    filter: invert(1);
}

/* BOTTOM */
main {
    display: grid;
    text-align: center;
    align-content: center;
}

#length {
    margin-top: 36px;
}

h2#subtitle {
    color: #5A537B;
    font: 600 20px Inter, sans-serif;
    margin: 0 auto 9px;
}

.output-text {
    color: #353535;
    font: 400 14px Inter, sans-serif;
    margin: 0 auto;
}

.box-el {
    margin: 0 auto 23.43px;
    height: 108.57px;
    width: 500px;
    background: #EAEAEA;
    align-content: center;
    border-radius: 5px;
}

/* DarkMode BOTTOM */
.dark-mode {
    background: #1F2937;
}

.dark-mode .box-el {
    background: #273549;
}

.dark-mode h2#subtitle {
    color: #CCC1FF;
}

.dark-mode .output-text {
    color: #FFFFFF;
}

/* Remove number spinner in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove number spinner in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
